@font-face {
    font-family: 'Friz Quadrata Std';
    src: url('FrizQuadrataStd.eot');
    src: url('FrizQuadrataStd.eot?#iefix') format('embedded-opentype'), url('FrizQuadrataStd.woff2') format('woff2'), url('FrizQuadrataStd.woff') format('woff'), url('FrizQuadrataStd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Friz Quadrata Bold';
    src: url('FrizQuadrataStd-Bold.eot');
    src: url('FrizQuadrataStd-Bold.eot?#iefix') format('embedded-opentype'), url('FrizQuadrataStd-Bold.woff2') format('woff2'), url('FrizQuadrataStd-Bold.woff') format('woff'), url('FrizQuadrataStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    user-select: none;
}

img {
    /* user-drag: none; */
    pointer-events: none;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    /* background: linear-gradient(145deg, rgba(5,14,23,1) 0%, rgba(22,30,36,1) 100%); */
    /* background: linear-gradient(145deg, rgba(5,14,23,1), red); */
    background-color: #121A21;
    background-size: 100% 100%;
    color: rgb(240, 234, 217);
    font-family: "Lato", sans-serif;
    /* font-family: "Lato"; */
    cursor: default;
    /* animation: zoombg 5s ease infinite; */
    overflow: hidden;
}
/* @keyframes zoombg {
    0%{background-size: 100% 100%;}
    50%{background-size: 150% 150%;}
    100%{background-size: 100% 100%;}
} */

h1, h2, h3, h4 {
    font-weight: 500;
}

.text-success { color: rgb(6, 166, 60); }
.text-little-success { color: rgb(95, 154, 55); }
.text-danger { color: rgb(156, 50, 19); }
.text-little-danger { color: rgb(170, 96, 34); }
.text-secondary { color: rgba(240, 234, 217, 0.5); }
.text-warning {
    color: rgb(205, 190, 145);
    animation: flash 1s linear 1;
}
@keyframes flash {
    0% {
        color: rgb(205, 190, 145);
    }
    25% {
        color: rgb(255, 255, 145);
    }
    50% {
        color: rgb(205, 190, 145);
    }
    75% {
        color: rgb(255, 255, 145);
    }
    100% {
        color: rgb(205, 190, 145);
    }
}



button {
    padding: 0;
    border: none;
}

button:focus {
    outline: none;
}

.draggable {
    user-select: none;

    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* Content */
.content {
    padding: 0px 12px 0px 12px;
}


/* Loading */
.progress-bar-value {
    position: absolute;
    display: block;
    top: 33px;
    left: 210px;

    height: 3px;
    /* margin-bottom: -5px; */
    width: 0px;
    /* background-color: rgb(5, 149, 169); */
    background: linear-gradient(135deg, rgba(5, 149, 169, 1) 0%, rgba(6, 111, 128, 1) 50%, rgba(5, 149, 169, 1) 100%);
    /* background: linear-gradient(135deg, rgba(5, 149, 169, 1) 0%, green 50%, rgba(5, 149, 169, 1) 100%); */
    background-size: 400% 400%;
    /* border-right: 1px solid rgba(10, 48, 58); */
    /* animation: panbg 4s ease infinite; */
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 17px;
    height: 17px;
    margin: 0px 1px 0px 1px;
}
.lds-ring span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    margin: 2px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(35, 143, 158) transparent transparent transparent;
}

.lds-ring span:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring span:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring span:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Home */
.home-tab {
    display: block;
    position: absolute;
    top: 164px;
    left: 211px;
    width: 523px;
    height: 657px;
    text-align: center;
    padding: 40px 80px 40px 80px;
}

.home-title {
    font-size: 50px;
    font-family: 'Friz Quadrata Std';
    display: block;
}

.home-intro-message {
    font-size: 20px;
}

.home-personal {
    top: -119px;
    left: 695px;
}
.home-personal-text {
    width: 258px;
}
.home-personal-text::after {
    left: calc(12px + 3px);
    top: -8px;
}

.home-lcu {
    top: -119px;
    left: 7px;
}
.home-lcu-text {
    width: 270px;
}
.home-lcu-text::after {
    left: -9px;
    top: 20px;
    transform: rotate(270deg);
}

.home-menu {
    top: 351px;
    left: 7px;
}
.home-menu-text {
    width: 270px;
}
.home-menu-text::after {
    left: -9px;
    top: 20px;
    transform: rotate(270deg);
}

.talk-bubble {
    display: block;
    position: absolute;
}

.talk-bubble-container {
    display: block;
}
.talk-bubble-text {
    cursor: help;
    display: block;
    background: white;
    color: black;

    position: absolute;
    /* z-index: 2; */
    transition: opacity 0.5s ease;

    border: 1px solid black;
    border-radius: 7px;
    text-align: left;
    padding: 8px;
}
.talk-bubble-text::after {
    content: attr(arrow);
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid white;
}
.talk-bubble-msg-title {
    font-family: 'Friz Quadrata Std';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.talk-bubble-msg-text {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;
}
.talk-bubble-msg-highlight {
    text-decoration: underline;
}



/* Footer */

.s-community-links {
    position: absolute; 
    bottom: 0;
    left: 0;
    margin-left: 5px;
    color: rgb(110, 107, 99);
}
.s-community-links a {
    text-decoration: none;
}

.version {
    position: absolute; 
    bottom: 0;
    right: 0;
    margin: 5px;
    color: rgb(110, 107, 99);
    font-style: italic;
}

/* Ads */
.owad-container {
    text-align: center;
    bottom: 30px;
    height: 300px;
    width: 400px;
    display: block;
    right: 5px;
    position: absolute;
}

.owad-logo {
    color: #F4F2FF;
    fill: currentColor;
    transform: scale(0.5);
    margin: 30px;
    height: 256px;
    width: 256px;
}

.owad-container-footer {
    position: absolute;
    bottom: -23px;
    right: 167px;
    cursor: pointer;
    color: rgb(205, 190, 145);
    font-style: italic;
}
.owad-container-footer:hover {
    color: rgb(240, 234, 217);
}

#owad {
    position: absolute;
    top: 0px;
    /* left: calc(50% - 200px); */
    width: 400px;
    height: 300px;
    /* background-color: gray; */
    right: 0px;
}

