.slide-overlay {
    position: fixed;
    top: 23px;
    left: 100%;
    height: calc(100% - 82px);
    width: calc(100% - 635px);
    margin: 10px 10px 10px 210px;
    padding: 10px 10px 10px 10px;
    
    /* background: linear-gradient(145deg, rgba(5,14,23,1) 0%, rgba(22,30,36,1) 100%); */
    background-color: #121A21;
    background-size: 100% 100%;
    /* color: rgb(240, 234, 217); */
    color: #E7D5AE;
    /* animation: zoombg 5s ease infinite; */
    overflow: hidden;

    /* border-bottom: 1px solid #1E282D; */
    /* border: 1px solid #1E282D; */
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5); */
}

.slide-overlay-title {
    font-family: 'Friz Quadrata Std';
    color: #F4F2FF;
    font-size: 26px;
    text-align: center;
}
.slide-overlay-content {
    padding-left: 10px;
    /* margin: 0px 0px 0px 0px; */
    padding-top: 14px;
    padding-right: 20px;
    /* overflow-y: auto; */
    overflow-y: hidden;
    overflow-x: hidden;
    height: calc(100% - 30px);
}

.slide-overlay-close {
    position: absolute;
    right: 10px;
}

.faq-highlight {
    /* color: rgb(240, 234, 217); */
    color: #F4F2FF;
    font-weight: bold;
}

.settings-sub-title {
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    color: #F4F2FF;
}

.accordeon-title {
    cursor: pointer;
    border-top: 1px solid #1E282D;
    background-color: rgba(5,14,23,0.1);
    padding: 4px;
    margin-bottom: -1px;
}

a, a:visited {
    /* color: rgb(240, 234, 217); */
    color: #E7D5AE;
    cursor: pointer;
}

a:hover, a:active {
    color: rgb(190, 148, 58);
}

.prediction-graph {
    border: 1px solid #1E282D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* float: right; */
}

.ow-settings-icon {
    position: relative;
    top: 6px;
    right: 6px;
    margin-right: 10px;
}

.scale-icon-24 {
    transform: scale(0.7) translate(6px, 6px);
}

/* Patch notes */
.patch-notes-short-title {
    font-style: italic;
}

.patch-notes-date {
    font-size: 12px;
    font-style: italic;
}

/* Feedback */
.feedback-textbox {
    float: right;
}

.feedback-textarea {
    resize: none;
    width: 100%;
    height: 210px;
}

.submitFeedback {
    margin-right: 12px;
}

.feedback-error {
    color: rgb(170, 96, 34);
    vertical-align: super;
}

.feedback-success {
    color: rgb(95, 154, 55);
    vertical-align: super;
}

/* Settings */

.settings-button {
    cursor: pointer;

    width: 250px;
    height: 42px;
    border: 1px solid black;
    outline: 1px solid rgb(190, 148, 58);
    text-align: center;
    padding: 10px 15px 10px 15px;
    margin-top: 5px;
    display: inline-block;

    background: linear-gradient(145deg, rgba(30, 35, 40, 1) 0%, rgba(27, 32, 38, 1) 100%);
    color: rgb(205, 190, 145);
}

.settings-button:hover {
    filter: brightness(130%);
}

.settings-button-version {
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
    width: 190px;
    height: 17px;
}

.settings-button-spinner-area {
    height: 36px;
    display: block;
}

.settings-version-loading-spinner {
    top: 10px;
    left: 34px;
}

.settings-version-text {
    font-style: italic;
}

.settings-button-language {
    position: absolute;
    top: 100px;
    right: 20px;
}

.settings-flag {
    height: 32px;
    width: 32px;
    margin: 4px 9px -9px 0px;
}

.settings-button-subscribe {
    position: absolute;
    top: 196px;
    right: 20px;
}

.settings-button-overwolf-settings {
    position: absolute;
    top: 294px;
    right: 20px;
}







