
/* Tooltip */
.tooltip {
    cursor: help;
    display: inline-block;
}
.tooltiptext {
    cursor: help;
    visibility: hidden;
    display: block;
    opacity: 0;
    background: linear-gradient(145deg, rgba(30, 35, 40, 1) 0%, rgba(27, 32, 38, 1) 100%);
    color: rgb(205, 190, 145);
    width: max-content;
    
    position: absolute;
    z-index: 2;
    transition: opacity 0.5s ease;
}

.tooltiptext.tooltiptext-sm {
    border: 1px solid black;
    outline: 1px solid rgb(190, 148, 58);
    text-align: left;
    padding: 5px;
    margin-top: 20px;
}
.tooltiptext.tooltiptext-sm-msg {
    transform: translate(-20px, 2px);
}
.tooltiptext.tooltiptext-sm-error {
    max-width: 105px;
    transform: translate(-6px, -23px);
    white-space: normal;
}
.tooltiptext.tooltiptext-lg {
    border: 1px solid black;
    outline: 2px solid rgb(190, 148, 58);
    text-align: left;
    padding: 10px;
    font-size: x-large;
}
.tooltiptext.tooltiptext-lg-msg {
    max-width: 250px;
    transform: translate(40px, 0px);
    white-space: normal;
}
.tooltiptext.tooltiptext-lg-error {
    max-width: 250px;
    transform: translate(40px, 0px);
    white-space: normal;
}
.tooltip:hover .tooltiptext 
{
    animation: tooltip-popup 1.0s cubic-bezier(0.5, 0, 0.5, 1) forwards;
    /* transition-delay: 0.5s; */
    /* visibility: visible;
    opacity: 1; */
}
@keyframes tooltip-popup {
    0% { 
        visibility: hidden;
        opacity: 0;
    }
    50% { 
        visibility: hidden;
        opacity: 0;
    }
    100% { 
        visibility: visible;
        opacity: 1;
    }
}
